* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --bright-grey: #e8e9eb;
  --smooth-black: #3a3a3a;
  --light-red: #ff6666;
  --light-purple: #6f77f4;
  --yellow: #ffd845;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--smooth-black);
}

.gap {
  height: 1vh;
  background: #fff;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}

.main-header {
  display: flex;
  flex-direction: column;
  background: var(--light-red);
  height: 100vh;
  position: relative;
}

/** Right Side Bar */
.right-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 20vw;
  background: var(--white);
  display: none;
  z-index: 2;
}

.exit-icon {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--smooth-black);
  border-bottom: 2px solid var(--light-red);
}

.exit-icon i:hover {
  color: var(--light-red);
}

.right-side-bar-items ul {
  display: flex;
  flex-direction: column;
}

.right-side-bar-items li {
  margin: auto;
  font-size: 2rem;
  padding: 2rem;
}

.right-side-bar-items li a:hover {
  color: var(--light-red);
}

.navbar {
  padding: 3rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--smooth-black);
}

.navbar h1 {
  font-size: 5rem;
  font-weight: 700;

  animation: rotate360 4s infinite;
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon path {
  fill: var(--smooth-black);
}
.hamburger-icon path:hover {
  fill: #fff;
}

.main-content {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.description {
  text-align: center;
  margin: 15rem auto;
  font-size: 2.5rem;
  color: var(--white);
}

.description .full-name {
  color: var(--smooth-black);
  font-size: 4rem;
  font-weight: 400;

  animation: scaleRotateRight 1.5s 1s;
}

.social-icon {
  text-align: center;
  margin-right: 15rem;
  z-index: 1;
}

.social-icon ul {
  display: flex;
  flex-direction: column;
}
.social-icon ul li {
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--smooth-black);
}

.social-icon ul li:hover {
  transform: scale(1.3);
}

.social-icon ul li a:hover {
  color: var(--white);
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--bright-grey);
}

#about h3 {
  font-size: 2.5rem;
  color: var(--smooth-black);
  text-align: center;
  margin-bottom: 1rem;
}

.about-me {
  width: 50%;
  height: 80%;
  padding: 2rem;
  margin-right: 1rem;
}

.about-me p {
  font-size: 2rem;
  color: var(--smooth-black);
  text-align: justify;
  margin-top: 2rem;
}

.bio {
  padding: 2rem;
  width: 50%;
  height: 80%;
}

.bio .basic-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio .info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item .property {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.info-item .value {
  font-size: 1.5rem;
  padding: 1rem 5rem 1rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 15px;
}

/* Skills */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--yellow);
  height: 80vh;
}

#skills h3 {
  margin-bottom: 2.5rem;
  color: var(--smooth-black);
  font-size: 2rem;
}

.pro-skills {
  display: flex;
  width: 70%;
  padding: 4rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.skill-info {
  font-size: 1.5rem;
  font-weight: bold;
}

.line {
  width: 50rem;
  height: 0.7rem;
  background: var(--bright-grey);
  position: relative;
}

.htmlLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 80%;
  height: 100%;
}

.jsLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 70%;
  height: 100%;
}

.reactLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 60%;
  height: 100%;
}

.nodejsLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 50%;
  height: 100%;
}

.mongodbLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 50%;
  height: 100%;
}

.gitLine::after {
  content: "";
  position: absolute;
  background: var(--light-red);
  width: 70%;
  height: 100%;
}

/* Media Query */
@media screen and (max-width: 1075px) {
  .main-header {
    height: 50vh;
  }
  .main-content {
    flex-direction: column-reverse;
  }
  .description {
    font-size: 2rem;
  }
  .description .full-name {
    font-size: 3rem;
  }

  .social-icon {
    margin: 0 auto;
  }
  .social-icon ul {
    flex-direction: row;
  }

  #about {
    height: 50vh;
  }
  .about-me p {
    font-size: 2.5rem;
  }

  .basic-info {
    margin-top: 5rem;
  }

  .info-item {
    margin-bottom: 2rem;
  }
  .bio .property {
    font-size: 2rem;
  }

  .bio .value {
    font-size: 2rem;
  }

  #skills {
    height: 50vh;
  }

  #skills h3 {
    font-size: 3rem;
  }

  .pro-skills {
    width: 100%;
    font-size: 3rem;
  }

  .skill-item {
    width: 100%;
  }

  .line {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 55%;
  }
  #about {
    flex-direction: column;
    height: 80vh;
  }

  .about-me {
    width: 90%;
    height: 50%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .bio {
    width: 90%;
    height: 50%;
  }
}

@media screen and (max-width: 830px) {
  #skills {
    height: 60vh;
  }

  .pro-skills {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .description .full-name {
    font-size: 2.5rem;
  }

  .right-side-bar {
    width: 80vw;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
  }

  #about h3 {
    font-size: 2rem;
  }
  #about p {
    font-size: 2rem;
  }

  .about-me {
    width: 100%;
    height: 30vh;
    margin: 0;
    margin-bottom: 1rem;
  }
  .bio {
    width: 100%;
    height: 30vh;
  }

  .bio .property {
    font-size: 1.8rem;
  }
  .bio .value {
    font-size: 1.6rem;
  }
}

/* Animation */

@keyframes scaleRotateLeft {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.4);
    transform: rotate(180deg);
  }
  100% {
    transform: scale(0.5);
    transform: skew(10deg, 10deg);
  }
}

@keyframes scaleRotateRight {
  0% {
    transform: scale(-0.1);
  }
  25% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.4);
    transform: rotate(-180deg);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0.5rem);
  }
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

.first {
  animation: moveRight 1s infinite;
}
.second {
  animation: moveRight 1s infinite 0.3s;
}
.third {
  animation: moveRight 1s infinite 0.5s;
}
